* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* definindo variáveis de cor */
    --brand-color: #EF5F4C;
    --background-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9;
    --shape-transparency: #ffffff8f;
    --text-color-primary: #313131;
    --text-color-secondary: #6C6C6C;

    /* fontes */
    --font-family: "Poppins", sans-serif;
    --text-lg: bold 32px/125% var(--font-family); /* weight, size/line height, font family */
    --text: 16px/1.5 var(--font-family);
    --text-md: 14px/170% var(--font-family); /* para weight regular não precisa inserir "regular" igual feito anteriormente com "bold" */
    --text-sm: 12px/170% var(--font-family);
}

body {
    font: var(--text);
    color: var(--text-color-secondary);
    background-color: var(--background-color);
}

