* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* definindo variáveis de cor */
    --brand-color: #EF5F4C;
    --background-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9;
    --shape-transparency: #ffffff8f;
    --text-color-primary: #313131;
    --text-color-secondary: #6C6C6C;

    /* fontes */
    --font-family: "Poppins", sans-serif;
    --text-lg: bold 32px/125% var(--font-family); /* weight, size/line height, font family */
    --text: 16px/1.5 var(--font-family);
    --text-md: 14px/170% var(--font-family); /* para weight regular não precisa inserir "regular" igual feito anteriormente com "bold" */
    --text-sm: 12px/170% var(--font-family);
}

body {
    font: var(--text);
    color: var(--text-color-secondary);
    background-color: var(--background-color);
}

.container {
    padding-inline: 32px; /* espaçamento das laterais (1 valor aplica para os dois lados) */
    max-width: 1280px; /* importante para evitar que os elementos continuem aumentando quando tira o zoom */
    margin-inline: auto; /* semelhante a padding-inline */
}

.bg-surface-color { /* foi necessário aplicar em toda a div, pois se aplicasse no nav, ao diminuir a cor sumia */
    background-color: var(--surface-color);
}

nav {
    display: flex; /* elemento ao lado do outro */
    justify-content: space-between; /* espaçamento entre os elementos */
    align-items: center; /* centralização no eixo main */

    line-height: 0; /* reduz a altura da linha do espaçamento */
    padding-block: 20px; /* olha para o eixo y, sendo o espaço de cima e de baixo */
}

a {
    text-decoration: none; /* tira a underline */
    color: inherit; /* inherit: cor herdada; ao fazer isso ele retira a cor azul padrão do navegador e busca a do pai dele (que seria o body) */
}

a:hover { /* hover: quando passar o mouse em cima, tal coisa vai acontecer */
    color: var(--brand-color);
    text-decoration: underline; /* adiciona a underline */
}

nav ul {
    list-style: none; /* tira os pontinhos da lista */
    display: flex;
    align-items: center;
    gap: 24px; /* espaço entre elementos */

    padding-block: 8px; /* cima e baixo */
}

nav ul li:last-child img { /* "li:last child": ultimo filho da li */
    width: 40px;
    height: 40px;
    object-fit: cover; /* encaixe do objeto; "cover": cobrir todo espaço de 40 por 40 */
    border-radius: 50%; /* arredondamento da borda */
}

header {
    padding-block: 32px;

    font: var(--text-md);
}

header .container { /* isso aqui é pra colocar o profile junto com info */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile {
    display: flex;
    gap: 32px; /* esse é o espaçamento entre a imagem e os textos */
    align-items: center;
}

#profile > div {
    max-width: 384px;
}

#profile img {
    width: 176px;
    height: 176px;
    object-fit: cover;
    border-radius: 50%;
}

#profile h1 {
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: 8px;
}

#info {
    list-style: none;
    
    display: flex;
    flex-direction: column;
    gap: 16px; /* o espaçamento que tem entre cada info */

    width: 280px;
}

#info li {
    display: flex;
    align-items: center;
    gap: 8px; /* espaçamento entre icone e info */
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-block: 24px;
}

main img {
    width: 286px;
    height: 286px;
    object-fit: cover; /* para caso não seja um quadrado perfeito */
}

footer {
    display: flex;
    gap: 24px;
    padding-block: 24px;

    font: 14px/150% var(--font-family);
}

footer span:nth-child(1) {
    margin-right: auto;
}